@use "../../../Styles/mixins" as mxn;

.nav {
  padding: 4px 32px;
  background-color: var(--fith-color);
  box-shadow: var(--boxshadow-basic-colorless) var(--boxshadow-color);
  &--bar {
    @include mxn.flex;
    gap: 32px;
    font-weight: 600;
    font-size: var(--big-font);

    &__spliter {
      flex: 1 0;
      max-width: 600px;
    }
  }
}
